- let data = [0, 12, 16, 24, 32, 48, 64, 128, 256, 512];
- let min = 0, max = data.length - 1;
- let a = Math.round(.25*max);
- let b = Math.round(.5*max);

.wrap(role='group' aria-label='multi thumb slider with ruler' style=`--a: ${a}; --b: ${b}; --min: ${min}; --max: ${max}; --lbl-a: ${data[a]}; --lbl-b: ${data[b]}`)
	label.sr-only(for='a') Value A:
	input#a(type='range' min=min max=max value=a aria-valuetext=data[a] list='l')
	output(for='a' aria-hidden='true')
	output(for='a' aria-hidden='true')
	output(for='a' aria-hidden='true')
	label.sr-only(for='b') Value B:
	input#b(type='range' min=min max=max value=b aria-valuetext=data[b] list='l')
	output(for='b' aria-hidden='true')
	output(for='b' aria-hidden='true')
	output(for='b' aria-hidden='true')
	datalist#l
		- for(let i = 0; i <= max; i++)
			option(value=i label=data[i])